{% extends 'base.html.twig' %}

{% block title %}Ajout d'un Livre - BiblioConnect{% endblock %}

{% block body %}
<div class="form-wrapper">
    <h1 class="form-title">➕ Ajouter un nouveau livre</h1>

    {{ form_start(form, {'attr': {'class': 'bento-form'}}) }}
        {{ form_widget(form) }}
        <button class="bento-btn">✔️ Ajouter</button>
    {{ form_end(form) }}

    <div class="btn-wrapper">
        <a href="{{ path('app_livre') }}" class="btn-return">← Retour au catalogue</a>
    </div>
</div>
{% endblock %}
