{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel uteur</h1>

    {{ include('auteur/_form.html.twig') }}

<div class="btn-wrapper">
    <a href="{{ path('app_auteur_index') }}" class="btn-return">← Retour au catégorie</a>
</div>
{% endblock %}
